
html, body {
    margin:0;
    padding:0;
}

body {
    background-color: #fc8464 ;
}

#content {
    height: 100vh;
    margin: 20px 0 10px;
}

#title {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

.player {
    overflow: hidden;
    width: 70%;
}

#right-panel {
    width: 40%;
    position:fixed;
    right: 0;
    margin-top: 4%;
    justify-items: baseline;

}

#carrots {
    width: 60%;
    position:fixed;
    left: 0;
}

#carrots table {
    border: 2px solid #ffb26c;
    border-radius: 5px;
    background-color: #628c25;
    width: 90%;
    margin-top: 8%;
    margin-left: 10%;

}

#carrots table td {
    background-image: url("./images/hole-in-grass.png");
    background-position: 0 calc(100% + 54px);
    background-repeat: no-repeat;
    background-size: 100% 150px;
    border: 1px solid #ffb26c;
    border-collapse:separate;
    border-spacing:0 5px;
    cursor: pointer;
    position: relative;
}

#carrots table td::after {
    content: "";
    display: block;
    padding-bottom: 80%;
}

.roll-button button{
    margin-top: 13px;
}

.carrot {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carrot img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    bottom: -87%;
    position: relative;
    z-index: 1;
    transition-duration: 1s;
}

.show-carrot {
    bottom: 0px !important;
}

.caption {
    font-family: fantasy;
    font-size: 45px;
    font-weight: bold;
    color: #f5d35e;
    display: table;
    margin: 0 auto;
} 
   
#under-dice {
    width: 100%;
    display: flex;
    margin-top: 70px;
}

#rabbit {
    width: 49%;
}

#stats {
    font-family: fantasy;
    font-size: 44px;
    width: 49%;
    color: #fff;
    position: relative;
    justify-content: center;
    display: flex;
}

#stats ul {
    list-style-type: none;
    position: absolute;
    top: 35%;
}

.restart-btn{
    text-decoration: none;
    color: #fff;
}